<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ vars.language }}" lang="{{ vars.language }}">	
<head>
<meta http-equiv="content-type" content="text/html; charset={{ vars.encoding }}">
<title>{{ vars.SiteName }} - {{ lang.title }}</title>
<link href="{{ host }}/modules/{{ vars.ModuleName }}/views/default/resources/css/404.css" rel="stylesheet" type="text/css"/>
</head>
	<body>
		<!--start-wrap--->
		<div class="wrap">
			<!---start-header---->
				<div class="header">
					<div class="logo">
						<h1><a href="#">Ohh</a></h1>
					</div>
				</div>
			<!---End-header---->
			<!--start-content------>
			<div class="content">
				<img src="{{ host }}/modules/{{ vars.ModuleName }}/views/default/resources/images/error-img.png" title="error" />
				<p>{{ lang.l_message | raw }}</p>
				<a href="{{ host }}/">{{ lang.l_back }}</a>
   			</div>
			<!--End-Cotent------>
		</div>
		<!--End-wrap--->
	</body>
</html>