<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ lang.l_install_title }} {{ vars.ProdName }} {{ vars.ProdVer }}</title>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.css" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="{{ host }}/modules/{{ vars.ModuleName }}/views/default/resources/css/style.css">
  <link rel="stylesheet" href="{{ host }}/modules/{{ vars.ModuleName }}/views/default/resources/css/loader.css">
  <link rel="stylesheet" href="{{ host }}/modules/{{ vars.ModuleName }}/views/default/resources/css/flags.css">
</head>
<body>
<input type="hidden" name="{{ csrf.nameKey }}" value="{{ csrf.name }}">
<input type="hidden" name="{{ csrf.valueKey }}" value="{{ csrf.value }}">
    <div class='container'>

			<section id="wizard">
			  <div class="page-header">
	            <h1>{{ lang.l_welcome }} {{ vars.ProdName }} {{ vars.ProdVer }}</h1>
	          </div>

				<div id="tabinstall" class="tabbable tabs-left">
					<ul>
					  	<li><a href="#tabinstall-tab1" data-toggle="tab">{{ lang.l_start }}</a></li>
						<li><a href="#tabinstall-tab2" data-toggle="tab">{{ lang.l_second }}</a></li>
						<li><a href="#tabinstall-tab3" data-toggle="tab">{{ lang.l_third }}</a></li>
						<li><a href="#tabinstall-tab4" data-toggle="tab">{{ lang.l_forth }}</a></li>
						<li><a href="#tabinstall-tab5" data-toggle="tab">{{ lang.l_fifth }}</a></li>
						<li><a href="#tabinstall-tab6" data-toggle="tab">{{ lang.l_sixth }}</a></li>
					</ul>
                    <div id="bar" class="progress progress-info progress-striped">
                      <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
                    </div>
					<div class="tab-content">
					    <div class="tab-pane" id="tabinstall-tab1">
					      <p>{{ lang.l_wizard_1 }}</p>
						  <p>
							<div class="input-group">
								<span class="input-group-addon">{{ lang.l_language }}</span>
								<select id="lang" class="selectpicker" data-style="btn-info" data-width="auto">
									<option data-icon="flag flag-it" value="it" {% if vars.language == 'it' %}selected{% endif %}>Italiano</option>
									<option data-icon="flag flag-en" value="en" {% if vars.language == 'en' %}selected{% endif %}>English</option>
								</select>
							</div>						
						  </p>
						  <p>{{ lang.l_check_perm }} {{ lang.folder }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% if writeperm == 'ok' %}<i class="fa fa-check-circle-o fa-3x text-success"></i>&nbsp;&nbsp;{{ lang.l_check_perm_ok }}{% else %}<i class="fa fa-times-circle-o fa-3x text-danger"></i>&nbsp;&nbsp;{{ lang.l_check_perm_no}}</p>{% endif %}
						  <p>{{ lang.l_check_openssl }} {{ lang.folder }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% if openssl == 'ok' %}<i class="fa fa-check-circle-o fa-3x text-success"></i>&nbsp;&nbsp;{{ lang.l_check_openssl_ok }}{% else %}<i class="fa fa-times-circle-o fa-3x text-danger"></i>&nbsp;&nbsp;{{ lang.l_check_openssl_no}}</p>{% endif %}
						  </div>
					    <div class="tab-pane" id="tabinstall-tab2">
					      <p>{{ lang.l_wizard_2_1 }}</p>
						  <p>
						  <div class="input-group"><span class="input-group-addon">{{ lang.l_dbtype }}</span>
						  <select id="dbtype" class="selectpicker form-control" title="{$l_dbtype_ph}">
							<option value="mysql" selected>mysql</option>
							<option value="mssql">mssql</option>
							<option value="sqlite">sqlite</option>
						  </select>
						  </div>
						  </p>
						  <p>
						  <div class="input-group"><span class="input-group-addon">{{ lang.l_dbhost }}</span><input type='text' name='dbhost' id='dbhost' class='form-control' placeholder='{{ lang.l_dbhost_ph }}'>
						  </div>
						  </p>
						  <p>
						  <div class="input-group"><span class="input-group-addon">{{ lang.l_dbname }}</span><input type='text' name='dbname' id='dbname' class='form-control' placeholder='{{ lang.l_dbname_ph }}'>
						  </div>
						  </p>
						  <p>
						  <div class="input-group"><span class="input-group-addon">{{ lang.l_dbuser }}</span><input type='text' name='dbuser' id='dbuser' class='form-control' placeholder='{{ lang.l_dbuser_ph }}'>
						  </div>
						  </p>
						  <p>
						  <div class="input-group"><span class="input-group-addon">{{ lang.l_dbpass }}</span><input type='text' name='dbpass' id='dbpass' class='form-control' placeholder='{{ lang.l_dbpass_ph }}'>
						  </div>
						  </p>
						  <p>
						  <div class="input-group"><span class="input-group-addon">{{ lang.l_dbencoding }}</span>
						  <select id="dbenc" class="selectpicker form-control" title="{{ lang.l_dbencoding_ph }}">
							<optgroup label="armscii8" title="ARMSCII-8 Armenian">
									<option value="armscii8_bin" title="Armeno, binario">armscii8_bin</option>
									<option value="armscii8_general_ci" title="Armeno, case-insensitive">armscii8_general_ci</option>
									<option value="armscii8_general_nopad_ci" title="Armeno, no-pad, case-insensitive">armscii8_general_nopad_ci</option>
									<option value="armscii8_nopad_bin" title="Armeno, no-pad, binario">armscii8_nopad_bin</option>
								</optgroup>
							<optgroup label="ascii" title="US ASCII">
									<option value="ascii_bin" title="Europeo Occidentale, binario">ascii_bin</option>
									<option value="ascii_general_ci" title="Europeo Occidentale, case-insensitive">ascii_general_ci</option>
									<option value="ascii_general_nopad_ci" title="Europeo Occidentale, no-pad, case-insensitive">ascii_general_nopad_ci</option>
									<option value="ascii_nopad_bin" title="Europeo Occidentale, no-pad, binario">ascii_nopad_bin</option>
								</optgroup>
							<optgroup label="big5" title="Big5 Traditional Chinese">
									<option value="big5_bin" title="Cinese Tradizionale, binario">big5_bin</option>
									<option value="big5_chinese_ci" title="Cinese Tradizionale, case-insensitive">big5_chinese_ci</option>
									<option value="big5_chinese_nopad_ci" title="Cinese Tradizionale, no-pad, case-insensitive">big5_chinese_nopad_ci</option>
									<option value="big5_nopad_bin" title="Cinese Tradizionale, no-pad, binario">big5_nopad_bin</option>
								</optgroup>
							<optgroup label="binary" title="Binary pseudo charset">
									<option value="binary" title="Binario">binary</option>
								</optgroup>
							<optgroup label="cp1250" title="Windows Central European">
									<option value="cp1250_bin" title="Europeo Centrale, binario">cp1250_bin</option>
									<option value="cp1250_croatian_ci" title="Croato, case-insensitive">cp1250_croatian_ci</option>
									<option value="cp1250_czech_cs" title="Ceco, case-sensitive">cp1250_czech_cs</option>
									<option value="cp1250_general_ci" title="Europeo Centrale, case-insensitive">cp1250_general_ci</option>
									<option value="cp1250_general_nopad_ci" title="Europeo Centrale, no-pad, case-insensitive">cp1250_general_nopad_ci</option>
									<option value="cp1250_nopad_bin" title="Europeo Centrale, no-pad, binario">cp1250_nopad_bin</option>
									<option value="cp1250_polish_ci" title="Polacco, case-insensitive">cp1250_polish_ci</option>
								</optgroup>
							<optgroup label="cp1251" title="Windows Cyrillic">
									<option value="cp1251_bin" title="Cirillico, binario">cp1251_bin</option>
									<option value="cp1251_bulgarian_ci" title="Bulgaro, case-insensitive">cp1251_bulgarian_ci</option>
									<option value="cp1251_general_ci" title="Cirillico, case-insensitive">cp1251_general_ci</option>
									<option value="cp1251_general_cs" title="Cirillico, case-sensitive">cp1251_general_cs</option>
									<option value="cp1251_general_nopad_ci" title="Cirillico, no-pad, case-insensitive">cp1251_general_nopad_ci</option>
									<option value="cp1251_nopad_bin" title="Cirillico, no-pad, binario">cp1251_nopad_bin</option>
									<option value="cp1251_ukrainian_ci" title="Ucraino, case-insensitive">cp1251_ukrainian_ci</option>
								</optgroup>
							<optgroup label="cp1256" title="Windows Arabic">
									<option value="cp1256_bin" title="Arabo, binario">cp1256_bin</option>
									<option value="cp1256_general_ci" title="Arabo, case-insensitive">cp1256_general_ci</option>
									<option value="cp1256_general_nopad_ci" title="Arabo, no-pad, case-insensitive">cp1256_general_nopad_ci</option>
									<option value="cp1256_nopad_bin" title="Arabo, no-pad, binario">cp1256_nopad_bin</option>
								</optgroup>
							<optgroup label="cp1257" title="Windows Baltic">
									<option value="cp1257_bin" title="Baltico, binario">cp1257_bin</option>
									<option value="cp1257_general_ci" title="Baltico, case-insensitive">cp1257_general_ci</option>
									<option value="cp1257_general_nopad_ci" title="Baltico, no-pad, case-insensitive">cp1257_general_nopad_ci</option>
									<option value="cp1257_lithuanian_ci" title="Lituano, case-insensitive">cp1257_lithuanian_ci</option>
									<option value="cp1257_nopad_bin" title="Baltico, no-pad, binario">cp1257_nopad_bin</option>
								</optgroup>
							<optgroup label="cp850" title="DOS West European">
									<option value="cp850_bin" title="Europeo Occidentale, binario">cp850_bin</option>
									<option value="cp850_general_ci" title="Europeo Occidentale, case-insensitive">cp850_general_ci</option>
									<option value="cp850_general_nopad_ci" title="Europeo Occidentale, no-pad, case-insensitive">cp850_general_nopad_ci</option>
									<option value="cp850_nopad_bin" title="Europeo Occidentale, no-pad, binario">cp850_nopad_bin</option>
								</optgroup>
							<optgroup label="cp852" title="DOS Central European">
									<option value="cp852_bin" title="Europeo Centrale, binario">cp852_bin</option>
									<option value="cp852_general_ci" title="Europeo Centrale, case-insensitive">cp852_general_ci</option>
									<option value="cp852_general_nopad_ci" title="Europeo Centrale, no-pad, case-insensitive">cp852_general_nopad_ci</option>
									<option value="cp852_nopad_bin" title="Europeo Centrale, no-pad, binario">cp852_nopad_bin</option>
								</optgroup>
							<optgroup label="cp866" title="DOS Russian">
									<option value="cp866_bin" title="Russo, binario">cp866_bin</option>
									<option value="cp866_general_ci" title="Russo, case-insensitive">cp866_general_ci</option>
									<option value="cp866_general_nopad_ci" title="Russo, no-pad, case-insensitive">cp866_general_nopad_ci</option>
									<option value="cp866_nopad_bin" title="Russo, no-pad, binario">cp866_nopad_bin</option>
								</optgroup>
							<optgroup label="cp932" title="SJIS for Windows Japanese">
									<option value="cp932_bin" title="Giapponese, binario">cp932_bin</option>
									<option value="cp932_japanese_ci" title="Giapponese, case-insensitive">cp932_japanese_ci</option>
									<option value="cp932_japanese_nopad_ci" title="Giapponese, no-pad, case-insensitive">cp932_japanese_nopad_ci</option>
									<option value="cp932_nopad_bin" title="Giapponese, no-pad, binario">cp932_nopad_bin</option>
								</optgroup>
							<optgroup label="dec8" title="DEC West European">
									<option value="dec8_bin" title="Europeo Occidentale, binario">dec8_bin</option>
									<option value="dec8_nopad_bin" title="Europeo Occidentale, no-pad, binario">dec8_nopad_bin</option>
									<option value="dec8_swedish_ci" title="Svedese, case-insensitive">dec8_swedish_ci</option>
									<option value="dec8_swedish_nopad_ci" title="Svedese, no-pad, case-insensitive">dec8_swedish_nopad_ci</option>
								</optgroup>
							<optgroup label="eucjpms" title="UJIS for Windows Japanese">
									<option value="eucjpms_bin" title="Giapponese, binario">eucjpms_bin</option>
									<option value="eucjpms_japanese_ci" title="Giapponese, case-insensitive">eucjpms_japanese_ci</option>
									<option value="eucjpms_japanese_nopad_ci" title="Giapponese, no-pad, case-insensitive">eucjpms_japanese_nopad_ci</option>
									<option value="eucjpms_nopad_bin" title="Giapponese, no-pad, binario">eucjpms_nopad_bin</option>
								</optgroup>
							<optgroup label="euckr" title="EUC-KR Korean">
									<option value="euckr_bin" title="Coreano, binario">euckr_bin</option>
									<option value="euckr_korean_ci" title="Coreano, case-insensitive">euckr_korean_ci</option>
									<option value="euckr_korean_nopad_ci" title="Coreano, no-pad, case-insensitive">euckr_korean_nopad_ci</option>
									<option value="euckr_nopad_bin" title="Coreano, no-pad, binario">euckr_nopad_bin</option>
								</optgroup>
							<optgroup label="gb2312" title="GB2312 Simplified Chinese">
									<option value="gb2312_bin" title="Cinese Semplificato, binario">gb2312_bin</option>
									<option value="gb2312_chinese_ci" title="Cinese Semplificato, case-insensitive">gb2312_chinese_ci</option>
									<option value="gb2312_chinese_nopad_ci" title="Cinese Semplificato, no-pad, case-insensitive">gb2312_chinese_nopad_ci</option>
									<option value="gb2312_nopad_bin" title="Cinese Semplificato, no-pad, binario">gb2312_nopad_bin</option>
								</optgroup>
							<optgroup label="gbk" title="GBK Simplified Chinese">
									<option value="gbk_bin" title="Cinese Semplificato, binario">gbk_bin</option>
									<option value="gbk_chinese_ci" title="Cinese Semplificato, case-insensitive">gbk_chinese_ci</option>
									<option value="gbk_chinese_nopad_ci" title="Cinese Semplificato, no-pad, case-insensitive">gbk_chinese_nopad_ci</option>
									<option value="gbk_nopad_bin" title="Cinese Semplificato, no-pad, binario">gbk_nopad_bin</option>
								</optgroup>
							<optgroup label="geostd8" title="GEOSTD8 Georgian">
									<option value="geostd8_bin" title="Georgiano, binario">geostd8_bin</option>
									<option value="geostd8_general_ci" title="Georgiano, case-insensitive">geostd8_general_ci</option>
									<option value="geostd8_general_nopad_ci" title="Georgiano, no-pad, case-insensitive">geostd8_general_nopad_ci</option>
									<option value="geostd8_nopad_bin" title="Georgiano, no-pad, binario">geostd8_nopad_bin</option>
								</optgroup>
							<optgroup label="greek" title="ISO 8859-7 Greek">
									<option value="greek_bin" title="Greco, binario">greek_bin</option>
									<option value="greek_general_ci" title="Greco, case-insensitive">greek_general_ci</option>
									<option value="greek_general_nopad_ci" title="Greco, no-pad, case-insensitive">greek_general_nopad_ci</option>
									<option value="greek_nopad_bin" title="Greco, no-pad, binario">greek_nopad_bin</option>
								</optgroup>
							<optgroup label="hebrew" title="ISO 8859-8 Hebrew">
									<option value="hebrew_bin" title="Ebreo, binario">hebrew_bin</option>
									<option value="hebrew_general_ci" title="Ebreo, case-insensitive">hebrew_general_ci</option>
									<option value="hebrew_general_nopad_ci" title="Ebreo, no-pad, case-insensitive">hebrew_general_nopad_ci</option>
									<option value="hebrew_nopad_bin" title="Ebreo, no-pad, binario">hebrew_nopad_bin</option>
								</optgroup>
							<optgroup label="hp8" title="HP West European">
									<option value="hp8_bin" title="Europeo Occidentale, binario">hp8_bin</option>
									<option value="hp8_english_ci" title="Inglese, case-insensitive">hp8_english_ci</option>
									<option value="hp8_english_nopad_ci" title="Inglese, no-pad, case-insensitive">hp8_english_nopad_ci</option>
									<option value="hp8_nopad_bin" title="Europeo Occidentale, no-pad, binario">hp8_nopad_bin</option>
								</optgroup>
							<optgroup label="keybcs2" title="DOS Kamenicky Czech-Slovak">
									<option value="keybcs2_bin" title="Ceco-Slovacco, binario">keybcs2_bin</option>
									<option value="keybcs2_general_ci" title="Ceco-Slovacco, case-insensitive">keybcs2_general_ci</option>
									<option value="keybcs2_general_nopad_ci" title="Ceco-Slovacco, no-pad, case-insensitive">keybcs2_general_nopad_ci</option>
									<option value="keybcs2_nopad_bin" title="Ceco-Slovacco, no-pad, binario">keybcs2_nopad_bin</option>
								</optgroup>
							<optgroup label="koi8r" title="KOI8-R Relcom Russian">
									<option value="koi8r_bin" title="Russo, binario">koi8r_bin</option>
									<option value="koi8r_general_ci" title="Russo, case-insensitive">koi8r_general_ci</option>
									<option value="koi8r_general_nopad_ci" title="Russo, no-pad, case-insensitive">koi8r_general_nopad_ci</option>
									<option value="koi8r_nopad_bin" title="Russo, no-pad, binario">koi8r_nopad_bin</option>
								</optgroup>
							<optgroup label="koi8u" title="KOI8-U Ukrainian">
									<option value="koi8u_bin" title="Ucraino, binario">koi8u_bin</option>
									<option value="koi8u_general_ci" title="Ucraino, case-insensitive">koi8u_general_ci</option>
									<option value="koi8u_general_nopad_ci" title="Ucraino, no-pad, case-insensitive">koi8u_general_nopad_ci</option>
									<option value="koi8u_nopad_bin" title="Ucraino, no-pad, binario">koi8u_nopad_bin</option>
								</optgroup>
							<optgroup label="latin1" title="cp1252 West European">
									<option value="latin1_bin" title="Europeo Occidentale, binario">latin1_bin</option>
									<option value="latin1_danish_ci" title="Danese, case-insensitive">latin1_danish_ci</option>
									<option value="latin1_general_ci" title="Europeo Occidentale, case-insensitive">latin1_general_ci</option>
									<option value="latin1_general_cs" title="Europeo Occidentale, case-sensitive">latin1_general_cs</option>
									<option value="latin1_german1_ci" title="Tedesco (ordine dizionario), case-insensitive">latin1_german1_ci</option>
									<option value="latin1_german2_ci" title="Tedesco (ordine rubrica telefonica), case-insensitive">latin1_german2_ci</option>
									<option value="latin1_nopad_bin" title="Europeo Occidentale, no-pad, binario">latin1_nopad_bin</option>
									<option value="latin1_spanish_ci" title="Spagnolo (moderno), case-insensitive">latin1_spanish_ci</option>
									<option value="latin1_swedish_ci" title="Svedese, case-insensitive">latin1_swedish_ci</option>
									<option value="latin1_swedish_nopad_ci" title="Svedese, no-pad, case-insensitive">latin1_swedish_nopad_ci</option>
								</optgroup>
							<optgroup label="latin2" title="ISO 8859-2 Central European">
									<option value="latin2_bin" title="Europeo Centrale, binario">latin2_bin</option>
									<option value="latin2_croatian_ci" title="Croato, case-insensitive">latin2_croatian_ci</option>
									<option value="latin2_czech_cs" title="Ceco, case-sensitive">latin2_czech_cs</option>
									<option value="latin2_general_ci" title="Europeo Centrale, case-insensitive">latin2_general_ci</option>
									<option value="latin2_general_nopad_ci" title="Europeo Centrale, no-pad, case-insensitive">latin2_general_nopad_ci</option>
									<option value="latin2_hungarian_ci" title="Ungherese, case-insensitive">latin2_hungarian_ci</option>
									<option value="latin2_nopad_bin" title="Europeo Centrale, no-pad, binario">latin2_nopad_bin</option>
								</optgroup>
							<optgroup label="latin5" title="ISO 8859-9 Turkish">
									<option value="latin5_bin" title="Turco, binario">latin5_bin</option>
									<option value="latin5_nopad_bin" title="Turco, no-pad, binario">latin5_nopad_bin</option>
									<option value="latin5_turkish_ci" title="Turco, case-insensitive">latin5_turkish_ci</option>
									<option value="latin5_turkish_nopad_ci" title="Turco, no-pad, case-insensitive">latin5_turkish_nopad_ci</option>
								</optgroup>
							<optgroup label="latin7" title="ISO 8859-13 Baltic">
									<option value="latin7_bin" title="Baltico, binario">latin7_bin</option>
									<option value="latin7_estonian_cs" title="Estone, case-sensitive">latin7_estonian_cs</option>
									<option value="latin7_general_ci" title="Baltico, case-insensitive">latin7_general_ci</option>
									<option value="latin7_general_cs" title="Baltico, case-sensitive">latin7_general_cs</option>
									<option value="latin7_general_nopad_ci" title="Baltico, no-pad, case-insensitive">latin7_general_nopad_ci</option>
									<option value="latin7_nopad_bin" title="Baltico, no-pad, binario">latin7_nopad_bin</option>
								</optgroup>
							<optgroup label="macce" title="Mac Central European">
									<option value="macce_bin" title="Europeo Centrale, binario">macce_bin</option>
									<option value="macce_general_ci" title="Europeo Centrale, case-insensitive">macce_general_ci</option>
									<option value="macce_general_nopad_ci" title="Europeo Centrale, no-pad, case-insensitive">macce_general_nopad_ci</option>
									<option value="macce_nopad_bin" title="Europeo Centrale, no-pad, binario">macce_nopad_bin</option>
								</optgroup>
							<optgroup label="macroman" title="Mac West European">
									<option value="macroman_bin" title="Europeo Occidentale, binario">macroman_bin</option>
									<option value="macroman_general_ci" title="Europeo Occidentale, case-insensitive">macroman_general_ci</option>
									<option value="macroman_general_nopad_ci" title="Europeo Occidentale, no-pad, case-insensitive">macroman_general_nopad_ci</option>
									<option value="macroman_nopad_bin" title="Europeo Occidentale, no-pad, binario">macroman_nopad_bin</option>
								</optgroup>
							<optgroup label="sjis" title="Shift-JIS Japanese">
									<option value="sjis_bin" title="Giapponese, binario">sjis_bin</option>
									<option value="sjis_japanese_ci" title="Giapponese, case-insensitive">sjis_japanese_ci</option>
									<option value="sjis_japanese_nopad_ci" title="Giapponese, no-pad, case-insensitive">sjis_japanese_nopad_ci</option>
									<option value="sjis_nopad_bin" title="Giapponese, no-pad, binario">sjis_nopad_bin</option>
								</optgroup>
							<optgroup label="swe7" title="7bit Swedish">
									<option value="swe7_bin" title="Svedese, binario">swe7_bin</option>
									<option value="swe7_nopad_bin" title="Svedese, no-pad, binario">swe7_nopad_bin</option>
									<option value="swe7_swedish_ci" title="Svedese, case-insensitive">swe7_swedish_ci</option>
									<option value="swe7_swedish_nopad_ci" title="Svedese, no-pad, case-insensitive">swe7_swedish_nopad_ci</option>
								</optgroup>
							<optgroup label="tis620" title="TIS620 Thai">
									<option value="tis620_bin" title="Thai, binario">tis620_bin</option>
									<option value="tis620_nopad_bin" title="Thai, no-pad, binario">tis620_nopad_bin</option>
									<option value="tis620_thai_ci" title="Thai, case-insensitive">tis620_thai_ci</option>
									<option value="tis620_thai_nopad_ci" title="Thai, no-pad, case-insensitive">tis620_thai_nopad_ci</option>
								</optgroup>
							<optgroup label="ucs2" title="UCS-2 Unicode">
									<option value="ucs2_bin" title="Unicode, binario">ucs2_bin</option>
									<option value="ucs2_croatian_ci" title="Croato, case-insensitive">ucs2_croatian_ci</option>
									<option value="ucs2_croatian_mysql561_ci" title="Croato (MySQL 5.6.1), case-insensitive">ucs2_croatian_mysql561_ci</option>
									<option value="ucs2_czech_ci" title="Ceco, case-insensitive">ucs2_czech_ci</option>
									<option value="ucs2_danish_ci" title="Danese, case-insensitive">ucs2_danish_ci</option>
									<option value="ucs2_esperanto_ci" title="Esperanto, case-insensitive">ucs2_esperanto_ci</option>
									<option value="ucs2_estonian_ci" title="Estone, case-insensitive">ucs2_estonian_ci</option>
									<option value="ucs2_general_ci" title="Unicode, case-insensitive">ucs2_general_ci</option>
									<option value="ucs2_general_mysql500_ci" title="Unicode (MySQL 5.0.0), case-insensitive">ucs2_general_mysql500_ci</option>
									<option value="ucs2_general_nopad_ci" title="Unicode, no-pad, case-insensitive">ucs2_general_nopad_ci</option>
									<option value="ucs2_german2_ci" title="Tedesco (ordine rubrica telefonica), case-insensitive">ucs2_german2_ci</option>
									<option value="ucs2_hungarian_ci" title="Ungherese, case-insensitive">ucs2_hungarian_ci</option>
									<option value="ucs2_icelandic_ci" title="Islandese, case-insensitive">ucs2_icelandic_ci</option>
									<option value="ucs2_latvian_ci" title="Lettone, case-insensitive">ucs2_latvian_ci</option>
									<option value="ucs2_lithuanian_ci" title="Lituano, case-insensitive">ucs2_lithuanian_ci</option>
									<option value="ucs2_myanmar_ci" title="Burmese, case-insensitive">ucs2_myanmar_ci</option>
									<option value="ucs2_nopad_bin" title="Unicode, no-pad, binario">ucs2_nopad_bin</option>
									<option value="ucs2_persian_ci" title="Persiano, case-insensitive">ucs2_persian_ci</option>
									<option value="ucs2_polish_ci" title="Polacco, case-insensitive">ucs2_polish_ci</option>
									<option value="ucs2_roman_ci" title="Europeo Occidentale, case-insensitive">ucs2_roman_ci</option>
									<option value="ucs2_romanian_ci" title="Romeno, case-insensitive">ucs2_romanian_ci</option>
									<option value="ucs2_sinhala_ci" title="Cingalese, case-insensitive">ucs2_sinhala_ci</option>
									<option value="ucs2_slovak_ci" title="Slovacco, case-insensitive">ucs2_slovak_ci</option>
									<option value="ucs2_slovenian_ci" title="Sloveno, case-insensitive">ucs2_slovenian_ci</option>
									<option value="ucs2_spanish2_ci" title="Spagnolo (tradizionale), case-insensitive">ucs2_spanish2_ci</option>
									<option value="ucs2_spanish_ci" title="Spagnolo (moderno), case-insensitive">ucs2_spanish_ci</option>
									<option value="ucs2_swedish_ci" title="Svedese, case-insensitive">ucs2_swedish_ci</option>
									<option value="ucs2_thai_520_w2" title="Thai (UCA 5.2.0), multilivello">ucs2_thai_520_w2</option>
									<option value="ucs2_turkish_ci" title="Turco, case-insensitive">ucs2_turkish_ci</option>
									<option value="ucs2_unicode_520_ci" title="Unicode (UCA 5.2.0), case-insensitive">ucs2_unicode_520_ci</option>
									<option value="ucs2_unicode_520_nopad_ci" title="Unicode (UCA 5.2.0), no-pad, case-insensitive">ucs2_unicode_520_nopad_ci</option>
									<option value="ucs2_unicode_ci" title="Unicode, case-insensitive">ucs2_unicode_ci</option>
									<option value="ucs2_unicode_nopad_ci" title="Unicode, no-pad, case-insensitive">ucs2_unicode_nopad_ci</option>
									<option value="ucs2_vietnamese_ci" title="Vietnamese, case-insensitive">ucs2_vietnamese_ci</option>
								</optgroup>
							<optgroup label="ujis" title="EUC-JP Japanese">
									<option value="ujis_bin" title="Giapponese, binario">ujis_bin</option>
									<option value="ujis_japanese_ci" title="Giapponese, case-insensitive">ujis_japanese_ci</option>
									<option value="ujis_japanese_nopad_ci" title="Giapponese, no-pad, case-insensitive">ujis_japanese_nopad_ci</option>
									<option value="ujis_nopad_bin" title="Giapponese, no-pad, binario">ujis_nopad_bin</option>
								</optgroup>
							<optgroup label="utf16" title="UTF-16 Unicode">
									<option value="utf16_bin" title="Unicode, binario">utf16_bin</option>
									<option value="utf16_croatian_ci" title="Croato, case-insensitive">utf16_croatian_ci</option>
									<option value="utf16_croatian_mysql561_ci" title="Croato (MySQL 5.6.1), case-insensitive">utf16_croatian_mysql561_ci</option>
									<option value="utf16_czech_ci" title="Ceco, case-insensitive">utf16_czech_ci</option>
									<option value="utf16_danish_ci" title="Danese, case-insensitive">utf16_danish_ci</option>
									<option value="utf16_esperanto_ci" title="Esperanto, case-insensitive">utf16_esperanto_ci</option>
									<option value="utf16_estonian_ci" title="Estone, case-insensitive">utf16_estonian_ci</option>
									<option value="utf16_general_ci" title="Unicode, case-insensitive">utf16_general_ci</option>
									<option value="utf16_general_nopad_ci" title="Unicode, no-pad, case-insensitive">utf16_general_nopad_ci</option>
									<option value="utf16_german2_ci" title="Tedesco (ordine rubrica telefonica), case-insensitive">utf16_german2_ci</option>
									<option value="utf16_hungarian_ci" title="Ungherese, case-insensitive">utf16_hungarian_ci</option>
									<option value="utf16_icelandic_ci" title="Islandese, case-insensitive">utf16_icelandic_ci</option>
									<option value="utf16_latvian_ci" title="Lettone, case-insensitive">utf16_latvian_ci</option>
									<option value="utf16_lithuanian_ci" title="Lituano, case-insensitive">utf16_lithuanian_ci</option>
									<option value="utf16_myanmar_ci" title="Burmese, case-insensitive">utf16_myanmar_ci</option>
									<option value="utf16_nopad_bin" title="Unicode, no-pad, binario">utf16_nopad_bin</option>
									<option value="utf16_persian_ci" title="Persiano, case-insensitive">utf16_persian_ci</option>
									<option value="utf16_polish_ci" title="Polacco, case-insensitive">utf16_polish_ci</option>
									<option value="utf16_roman_ci" title="Europeo Occidentale, case-insensitive">utf16_roman_ci</option>
									<option value="utf16_romanian_ci" title="Romeno, case-insensitive">utf16_romanian_ci</option>
									<option value="utf16_sinhala_ci" title="Cingalese, case-insensitive">utf16_sinhala_ci</option>
									<option value="utf16_slovak_ci" title="Slovacco, case-insensitive">utf16_slovak_ci</option>
									<option value="utf16_slovenian_ci" title="Sloveno, case-insensitive">utf16_slovenian_ci</option>
									<option value="utf16_spanish2_ci" title="Spagnolo (tradizionale), case-insensitive">utf16_spanish2_ci</option>
									<option value="utf16_spanish_ci" title="Spagnolo (moderno), case-insensitive">utf16_spanish_ci</option>
									<option value="utf16_swedish_ci" title="Svedese, case-insensitive">utf16_swedish_ci</option>
									<option value="utf16_thai_520_w2" title="Thai (UCA 5.2.0), multilivello">utf16_thai_520_w2</option>
									<option value="utf16_turkish_ci" title="Turco, case-insensitive">utf16_turkish_ci</option>
									<option value="utf16_unicode_520_ci" title="Unicode (UCA 5.2.0), case-insensitive">utf16_unicode_520_ci</option>
									<option value="utf16_unicode_520_nopad_ci" title="Unicode (UCA 5.2.0), no-pad, case-insensitive">utf16_unicode_520_nopad_ci</option>
									<option value="utf16_unicode_ci" title="Unicode, case-insensitive">utf16_unicode_ci</option>
									<option value="utf16_unicode_nopad_ci" title="Unicode, no-pad, case-insensitive">utf16_unicode_nopad_ci</option>
									<option value="utf16_vietnamese_ci" title="Vietnamese, case-insensitive">utf16_vietnamese_ci</option>
							</optgroup>
							<optgroup label="utf16le" title="UTF-16LE Unicode">
									<option value="utf16le_bin" title="Unicode, binario">utf16le_bin</option>
									<option value="utf16le_general_ci" title="Unicode, case-insensitive">utf16le_general_ci</option>
									<option value="utf16le_general_nopad_ci" title="Unicode, no-pad, case-insensitive">utf16le_general_nopad_ci</option>
									<option value="utf16le_nopad_bin" title="Unicode, no-pad, binario">utf16le_nopad_bin</option>
							</optgroup>
							<optgroup label="utf32" title="UTF-32 Unicode">
								<option value="utf32_bin" title="Unicode, binario">utf32_bin</option>
								<option value="utf32_croatian_ci" title="Croato, case-insensitive">utf32_croatian_ci</option>
								<option value="utf32_croatian_mysql561_ci" title="Croato (MySQL 5.6.1), case-insensitive">utf32_croatian_mysql561_ci</option>
								<option value="utf32_czech_ci" title="Ceco, case-insensitive">utf32_czech_ci</option>
								<option value="utf32_danish_ci" title="Danese, case-insensitive">utf32_danish_ci</option>
								<option value="utf32_esperanto_ci" title="Esperanto, case-insensitive">utf32_esperanto_ci</option>
								<option value="utf32_estonian_ci" title="Estone, case-insensitive">utf32_estonian_ci</option>
								<option value="utf32_general_ci" title="Unicode, case-insensitive">utf32_general_ci</option>
								<option value="utf32_general_nopad_ci" title="Unicode, no-pad, case-insensitive">utf32_general_nopad_ci</option>
								<option value="utf32_german2_ci" title="Tedesco (ordine rubrica telefonica), case-insensitive">utf32_german2_ci</option>
								<option value="utf32_hungarian_ci" title="Ungherese, case-insensitive">utf32_hungarian_ci</option>
								<option value="utf32_icelandic_ci" title="Islandese, case-insensitive">utf32_icelandic_ci</option>
								<option value="utf32_latvian_ci" title="Lettone, case-insensitive">utf32_latvian_ci</option>
								<option value="utf32_lithuanian_ci" title="Lituano, case-insensitive">utf32_lithuanian_ci</option>
								<option value="utf32_myanmar_ci" title="Burmese, case-insensitive">utf32_myanmar_ci</option>
								<option value="utf32_nopad_bin" title="Unicode, no-pad, binario">utf32_nopad_bin</option>
								<option value="utf32_persian_ci" title="Persiano, case-insensitive">utf32_persian_ci</option>
								<option value="utf32_polish_ci" title="Polacco, case-insensitive">utf32_polish_ci</option>
								<option value="utf32_roman_ci" title="Europeo Occidentale, case-insensitive">utf32_roman_ci</option>
								<option value="utf32_romanian_ci" title="Romeno, case-insensitive">utf32_romanian_ci</option>
								<option value="utf32_sinhala_ci" title="Cingalese, case-insensitive">utf32_sinhala_ci</option>
								<option value="utf32_slovak_ci" title="Slovacco, case-insensitive">utf32_slovak_ci</option>
								<option value="utf32_slovenian_ci" title="Sloveno, case-insensitive">utf32_slovenian_ci</option>
								<option value="utf32_spanish2_ci" title="Spagnolo (tradizionale), case-insensitive">utf32_spanish2_ci</option>
								<option value="utf32_spanish_ci" title="Spagnolo (moderno), case-insensitive">utf32_spanish_ci</option>
								<option value="utf32_swedish_ci" title="Svedese, case-insensitive">utf32_swedish_ci</option>
								<option value="utf32_thai_520_w2" title="Thai (UCA 5.2.0), multilivello">utf32_thai_520_w2</option>
								<option value="utf32_turkish_ci" title="Turco, case-insensitive">utf32_turkish_ci</option>
								<option value="utf32_unicode_520_ci" title="Unicode (UCA 5.2.0), case-insensitive">utf32_unicode_520_ci</option>
								<option value="utf32_unicode_520_nopad_ci" title="Unicode (UCA 5.2.0), no-pad, case-insensitive">utf32_unicode_520_nopad_ci</option>
								<option value="utf32_unicode_ci" title="Unicode, case-insensitive">utf32_unicode_ci</option>
								<option value="utf32_unicode_nopad_ci" title="Unicode, no-pad, case-insensitive">utf32_unicode_nopad_ci</option>
								<option value="utf32_vietnamese_ci" title="Vietnamese, case-insensitive">utf32_vietnamese_ci</option>
							</optgroup>
							<optgroup label="utf8" title="UTF-8 Unicode">
								<option value="utf8_bin" title="Unicode, binario">utf8_bin</option>
								<option value="utf8_croatian_ci" title="Croato, case-insensitive">utf8_croatian_ci</option>
								<option value="utf8_croatian_mysql561_ci" title="Croato (MySQL 5.6.1), case-insensitive">utf8_croatian_mysql561_ci</option>
								<option value="utf8_czech_ci" title="Ceco, case-insensitive">utf8_czech_ci</option>
								<option value="utf8_danish_ci" title="Danese, case-insensitive">utf8_danish_ci</option>
								<option value="utf8_esperanto_ci" title="Esperanto, case-insensitive">utf8_esperanto_ci</option>
								<option value="utf8_estonian_ci" title="Estone, case-insensitive">utf8_estonian_ci</option>
								<option value="utf8_general_ci" title="Unicode, case-insensitive" selected="">utf8_general_ci</option>
								<option value="utf8_general_mysql500_ci" title="Unicode (MySQL 5.0.0), case-insensitive">utf8_general_mysql500_ci</option>
								<option value="utf8_general_nopad_ci" title="Unicode, no-pad, case-insensitive">utf8_general_nopad_ci</option>
								<option value="utf8_german2_ci" title="Tedesco (ordine rubrica telefonica), case-insensitive">utf8_german2_ci</option>
								<option value="utf8_hungarian_ci" title="Ungherese, case-insensitive">utf8_hungarian_ci</option>
								<option value="utf8_icelandic_ci" title="Islandese, case-insensitive">utf8_icelandic_ci</option>
								<option value="utf8_latvian_ci" title="Lettone, case-insensitive">utf8_latvian_ci</option>
								<option value="utf8_lithuanian_ci" title="Lituano, case-insensitive">utf8_lithuanian_ci</option>
								<option value="utf8_myanmar_ci" title="Burmese, case-insensitive">utf8_myanmar_ci</option>
								<option value="utf8_nopad_bin" title="Unicode, no-pad, binario">utf8_nopad_bin</option>
								<option value="utf8_persian_ci" title="Persiano, case-insensitive">utf8_persian_ci</option>
								<option value="utf8_polish_ci" title="Polacco, case-insensitive">utf8_polish_ci</option>
								<option value="utf8_roman_ci" title="Europeo Occidentale, case-insensitive">utf8_roman_ci</option>
								<option value="utf8_romanian_ci" title="Romeno, case-insensitive">utf8_romanian_ci</option>
								<option value="utf8_sinhala_ci" title="Cingalese, case-insensitive">utf8_sinhala_ci</option>
								<option value="utf8_slovak_ci" title="Slovacco, case-insensitive">utf8_slovak_ci</option>
								<option value="utf8_slovenian_ci" title="Sloveno, case-insensitive">utf8_slovenian_ci</option>
								<option value="utf8_spanish2_ci" title="Spagnolo (tradizionale), case-insensitive">utf8_spanish2_ci</option>
								<option value="utf8_spanish_ci" title="Spagnolo (moderno), case-insensitive">utf8_spanish_ci</option>
								<option value="utf8_swedish_ci" title="Svedese, case-insensitive">utf8_swedish_ci</option>
								<option value="utf8_thai_520_w2" title="Thai (UCA 5.2.0), multilivello">utf8_thai_520_w2</option>
								<option value="utf8_turkish_ci" title="Turco, case-insensitive">utf8_turkish_ci</option>
								<option value="utf8_unicode_520_ci" title="Unicode (UCA 5.2.0), case-insensitive">utf8_unicode_520_ci</option>
								<option value="utf8_unicode_520_nopad_ci" title="Unicode (UCA 5.2.0), no-pad, case-insensitive">utf8_unicode_520_nopad_ci</option>
								<option value="utf8_unicode_ci" title="Unicode, case-insensitive">utf8_unicode_ci</option>
								<option value="utf8_unicode_nopad_ci" title="Unicode, no-pad, case-insensitive">utf8_unicode_nopad_ci</option>
								<option value="utf8_vietnamese_ci" title="Vietnamese, case-insensitive">utf8_vietnamese_ci</option>
							</optgroup>
							<optgroup label="utf8mb4" title="UTF-8 Unicode">
								<option value="utf8mb4_croatian_ci" title="Croato (UCA 4.0.0), case-insensitive">utf8mb4_croatian_ci</option>
								<option value="utf8mb4_croatian_mysql561_ci" title="Croato (MySQL 5.6.1), case-insensitive">utf8mb4_croatian_mysql561_ci</option>
								<option value="utf8mb4_bin" title="Unicode (UCA 4.0.0), binario">utf8mb4_bin</option>
								<option value="utf8mb4_czech_ci" title="Ceco (UCA 4.0.0), case-insensitive">utf8mb4_czech_ci</option>
								<option value="utf8mb4_danish_ci" title="Danese (UCA 4.0.0), case-insensitive">utf8mb4_danish_ci</option>
								<option value="utf8mb4_esperanto_ci" title="Esperanto (UCA 4.0.0), case-insensitive">utf8mb4_esperanto_ci</option>
								<option value="utf8mb4_estonian_ci" title="Estone (UCA 4.0.0), case-insensitive">utf8mb4_estonian_ci</option>
								<option value="utf8mb4_general_ci" title="Unicode (UCA 4.0.0), case-insensitive">utf8mb4_general_ci</option>
								<option value="utf8mb4_general_nopad_ci" title="Unicode (UCA 4.0.0), no-pad, case-insensitive">utf8mb4_general_nopad_ci</option>
								<option value="utf8mb4_german2_ci" title="Tedesco (ordine rubrica telefonica) (UCA 4.0.0), case-insensitive">utf8mb4_german2_ci</option>
								<option value="utf8mb4_hungarian_ci" title="Ungherese (UCA 4.0.0), case-insensitive">utf8mb4_hungarian_ci</option>
								<option value="utf8mb4_icelandic_ci" title="Islandese (UCA 4.0.0), case-insensitive">utf8mb4_icelandic_ci</option>
								<option value="utf8mb4_latvian_ci" title="Lettone (UCA 4.0.0), case-insensitive">utf8mb4_latvian_ci</option>
								<option value="utf8mb4_lithuanian_ci" title="Lituano (UCA 4.0.0), case-insensitive">utf8mb4_lithuanian_ci</option>
								<option value="utf8mb4_myanmar_ci" title="Burmese (UCA 4.0.0), case-insensitive">utf8mb4_myanmar_ci</option>
								<option value="utf8mb4_nopad_bin" title="Unicode (UCA 4.0.0), no-pad, binario">utf8mb4_nopad_bin</option>
								<option value="utf8mb4_persian_ci" title="Persiano (UCA 4.0.0), case-insensitive">utf8mb4_persian_ci</option>
								<option value="utf8mb4_polish_ci" title="Polacco (UCA 4.0.0), case-insensitive">utf8mb4_polish_ci</option>
								<option value="utf8mb4_roman_ci" title="Europeo Occidentale (UCA 4.0.0), case-insensitive">utf8mb4_roman_ci</option>
								<option value="utf8mb4_romanian_ci" title="Romeno (UCA 4.0.0), case-insensitive">utf8mb4_romanian_ci</option>
								<option value="utf8mb4_sinhala_ci" title="Cingalese (UCA 4.0.0), case-insensitive">utf8mb4_sinhala_ci</option>
								<option value="utf8mb4_slovak_ci" title="Slovacco (UCA 4.0.0), case-insensitive">utf8mb4_slovak_ci</option>
								<option value="utf8mb4_slovenian_ci" title="Sloveno (UCA 4.0.0), case-insensitive">utf8mb4_slovenian_ci</option>
								<option value="utf8mb4_spanish2_ci" title="Spagnolo (tradizionale) (UCA 4.0.0), case-insensitive">utf8mb4_spanish2_ci</option>
								<option value="utf8mb4_spanish_ci" title="Spagnolo (moderno) (UCA 4.0.0), case-insensitive">utf8mb4_spanish_ci</option>
								<option value="utf8mb4_swedish_ci" title="Svedese (UCA 4.0.0), case-insensitive">utf8mb4_swedish_ci</option>
								<option value="utf8mb4_thai_520_w2" title="Thai (UCA 5.2.0), multilivello">utf8mb4_thai_520_w2</option>
								<option value="utf8mb4_turkish_ci" title="Turco (UCA 4.0.0), case-insensitive">utf8mb4_turkish_ci</option>
								<option value="utf8mb4_unicode_520_ci" title="Unicode (UCA 5.2.0), case-insensitive">utf8mb4_unicode_520_ci</option>
								<option value="utf8mb4_unicode_520_nopad_ci" title="Unicode (UCA 5.2.0), no-pad, case-insensitive">utf8mb4_unicode_520_nopad_ci</option>
								<option value="utf8mb4_unicode_ci" title="Unicode (UCA 4.0.0), case-insensitive" selected>utf8mb4_unicode_ci</option>
								<option value="utf8mb4_unicode_nopad_ci" title="Unicode (UCA 4.0.0), no-pad, case-insensitive">utf8mb4_unicode_nopad_ci</option>
								<option value="utf8mb4_vietnamese_ci" title="Vietnamese (UCA 4.0.0), case-insensitive">utf8mb4_vietnamese_ci</option>
							</optgroup>
						  </select>
						  </div>
						  </p>
					    </div>
						<div class="tab-pane" id="tabinstall-tab3">
						 <p>{{ lang.l_wizard_3_1 }}</p>
						 <p><div id="loader" class="loader"></div></p>
						 <p><div id="result"></div></p>
					    </div>
						<div class="tab-pane" id="tabinstall-tab4">
						<p>{{ lang.l_wizard_4_1 }}</p>						
						<p>
						  <div class="input-group"><span class="input-group-addon">{{ lang.l_title }}</span><input type="text" name="title" id="title" class="form-control" placeholder="{{ lang.l_title_ph }}">
						  </div>
						</p>	
						<p>
						  <div class="input-group"><span class="input-group-addon">{{ lang.l_prefix_tb }}</span><input type="text" name="prefix" id="prefix" class="form-control" placeholder="{{ lang.l_prefix_tb_ph }}">
						  </div>
						</p>
						<p>
						  <div class="input-group"><span class="input-group-addon">{{ lang.l_prefix_salt }}</span><input type="text" name="salt" id="salt" class="form-control" placeholder="{{ lang.l_prefix_salt_ph }}"><span class="input-group-btn"><button type="button" id="saltbtn" class="btn btn-default">{{ lang.l_generate }}</button></span></div>
						</p>
						<p>
						  <div class="input-group"><span class="input-group-addon">{{ lang.l_maintenance }}</span><input type="text" name="maintenancekey" id="maintenancekey" class="form-control" placeholder="{{ lang.l_maintenance_ph }}"><span class="input-group-btn"><button type="button" id="maintenancebtn" class="btn btn-default">{{ lang.l_generate }}</button></span></div>
						</p>						
						<p>
						<div class="input-group"><span class="input-group-addon">{{ lang.l_lang_default }}</span>
								<select id="langdefault" class="selectpicker" data-style="btn-info">
								<option data-icon="flag flag-it" value="it" {% if vars.language == 'it' %}selected{% endif %}>Italiano</option>
								<option data-icon="flag flag-en" value="en" {% if vars.language == 'en' %}selected{% endif %}>English</option>
							</select>
						</div>
						</p>
						<p>
						  <div class="input-group"><span class="input-group-addon">{{ lang.l_locale_url }}</span><select id="locale" class="form-control"><option value="1">{{ lang.l_yes }}</option><option value="0">{{ lang.l_no }}</option></select></div>
						</p>						
						<p>
						  <div class="input-group"><span class="input-group-addon">{{ lang.l_template_default }}</span><select id="template" class="form-control"><option value="default">default</option></select></div>
						</p>						
						<p>
						  <div class="input-group"><span class="input-group-addon">{{ lang.l_encoding_page }}</span><input type="text" name="encoding" id="encoding" class="form-control" placeholder="{{ lang.l_encoding_page_ph }}" value="utf-8"></div>
						</p>
						<p>
						  <div class="input-group"><span class="input-group-addon">{{ lang.l_adm_cookname }}</span><input type="text" name="adm_cookname" id="adm_cookname" class="form-control" placeholder="{{ lang.l_adm_cookname_ph }}" value="ADM"></div>
						</p>
						<p>
						  <div class="input-group"><span class="input-group-addon">{{ lang.l_usr_cookname }}</span><input type="text" name="usr_cookname" id="usr_cookname" class="form-control" placeholder="{{ lang.l_usr_cookname_ph }}" value="USR"></div>
						</p>
						<p>
						  <div class="input-group"><span class="input-group-addon">{{ lang.l_cookie_expire }}</span><input type="text" name="cookie_expire" id="cookie_expire" class="form-control" placeholder="{{ lang.l_cookie_expire_ph }}" value="3600"></div>
						</p>
						<p>
						  <div class="input-group"><span class="input-group-addon">{{ lang.l_cookie_max_expire }}</span><input type="text" name="cookie_max_expire" id="cookie_max_expire" class="form-control" placeholder="{{ lang.l_cookie_max_expire_ph }}" value="7889238"></div>
						</p>
						<p>
						  <div class="input-group"><span class="input-group-addon">{{ lang.l_cookie_path }}</span><input type="text" name="cookie_path" id="cookie_path" class="form-control" placeholder="{{ lang.l_cookie_path_ph }}" value="{{ cookiepath }}"></div>
						</p>
						<p>
						  <div class="input-group"><span class="input-group-addon">{{ lang.l_facebook_app }}</span><input type="text" name="facebook_app" id="facebook_app" class="form-control" placeholder="{{ lang.l_facebook_app_ph }}" value=""></div>
						</p>						
						<p>
						  <div class="input-group"><span class="input-group-addon">{{ lang.l_facebook_secret }}</span><input type="text" name="facebook_secret" id="facebook_secret" class="form-control" placeholder="{{ lang.l_facebook_secret_ph }}" value=""></div>
						</p>
						<p>
						  <div class="input-group"><span class="input-group-addon">{{ lang.l_google_key }}</span><input type="text" name="google_key" id="google_key" class="form-control" placeholder="{{ lang.l_google_key_ph }}" value=""></div>
						</p>						
						<p>
						  <div class="input-group"><span class="input-group-addon">{{ lang.l_google_secret }}</span><input type="text" name="google_secret" id="google_secret" class="form-control" placeholder="{{ lang.l_google_secret_ph }}" value=""></div>
						</p>						
					    </div>
						<div class="tab-pane" id="tabinstall-tab5">
						<p>{{ lang.l_wizard_5_1 }}</p>
						<p>
						  <div class="input-group"><span class="input-group-addon">{{ lang.l_username }}</span><input type="text" name="username" id="username" class="form-control" placeholder="{{ lang.l_username_ph }}">
						  </div>
						</p>
						<p>
						  <div class="input-group"><span class="input-group-addon">{{ lang.l_email }}</span><input type="text" name="email" id="email" class="form-control" placeholder="{{ lang.l_email_ph }}">
						  </div>
						</p>						
						<p>
						  <div class="input-group"><span class="input-group-addon">{{ lang.l_password }}</span><input type="text" name="pass" id="pass" class="form-control" placeholder="{{ lang.l_password_ph }}"><span class="input-group-btn"><button type="button" id="randpass" class="btn btn-default">{{ lang.l_generate }}</button></span><span class="input-group-addon"><meter value="0" id="PassValue" low="35" max="100"></meter></span></div>
						</p>						
					    </div>
						<div class="tab-pane" id="tabinstall-tab6">
						<p>{{ lang.l_wizard_6_1 }}</p>
						<p><div id="endresult"></div></p>
					    </div>						
						<ul class="pager wizard">
							<li id="prev" class="previous"><a href="javascript:;">{{ lang.l_previous }}</a></li>
						  	{% if (writeperm == 'ok') and (openssl == 'ok')%}<li id="next" class="next"><a href="javascript:;">{{ lang.l_next }}</a></li>{% endif %}
							<li id="install" class="next finish" style="display:none;"><a href="javascript:;">{{ lang.l_install }}</a></li>
						</ul>
					</div>
				</div>

			</section>
	</div>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap-wizard/1.2/jquery.bootstrap.wizard.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.complexify.js/0.5.1/jquery.complexify.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.0/js.cookie.min.js"></script>
	<script type="text/javascript" src="{{ host }}/modules/{{ vars.ModuleName }}/views/default/resources/js/functions.js" charset="UTF-8"></script>
	<script type="text/javascript" src="{{ host }}/modules/{{ vars.ModuleName }}/views/default/resources/js/jquery.jquery-password-generator-plugin.min.js" charset="UTF-8"></script>
	<script>
	$(document).ready(function() {			
            $("#pass").complexify({}, function (valid, complexity) {
                document.getElementById("PassValue").value = complexity;
            });	
			$("#lang").on('change', function(e) {
				Cookies.set('lang', $(this).val(), { expires: 30 });
				window.location.reload(false);
			});
			salt = makerand("abcdef0123456789", 64);
			mainpass = makerand("abcdefghijklmnopqrstuvwxyz0123456789", 12);
			tbl = makerand("abcdefghijklmnopqrstuvwxyz", 5) + "_";
			$('#salt').val(salt);
			$('#prefix').val(tbl);
			$('#maintenancekey').val(mainpass);
			$("#saltbtn").click(function() {
				salt = makerand("abcdef0123456789", 64);
				$('#salt').val(salt);
			});
			$("#maintenancebtn").click(function() {
				mainpass = makerand("abcdefghijklmnopqrstuvwxyz0123456789", 12);
				$('#maintenancekey').val(mainpass);
			});
			$("#randpass").click(function() {
				password = $.passGen({ 'length' : 16, 'special' : true });
				$('#pass').val(password);
				$('#pass').focus();
			});			
			$('#tabinstall').bootstrapWizard({ 'tabClass': 'nav nav-tabs', 'debug': false, onShow: function(tab, navigation, index) {
					}, onNext: function(tab, navigation, index) {
					if(index==2) {
					if(!$('#dbhost').val()) {
						alert('{{ lang.l_dbhost_ph }}');
						$('#dbhost').focus();
						return false;
					}
					if(!$('#dbname').val()) {
						alert('{{ lang.l_dbname_ph }}');
						$('#dbname').focus();
						return false;
					}
					if(!$('#dbuser').val()) {
						alert('{{ lang.l_dbuser_ph }}');
						$('#dbuser').focus();
						return false;
					}
					if(!$('#dbpass').val()) {
						alert('{{ lang.l_dbpass_ph }}');
						$('#dbpass').focus();
						return false;
					}
					dbtype = $('#dbtype option:selected').text();
					dbhost = $('#dbhost').val();
					dbname = $('#dbname').val();
					dbuser = $('#dbuser').val();
					dbpass = $('#dbpass').val();
					dbenc = $('#dbenc option:selected').text();
					}
					else if(index==3) {
						if (!test) return false;
					}
					else if(index==4) {
					if(!$('#title').val()) {
						alert('{{ lang.l_title_ph }}');
						$('#title').focus();
						return false;
					}
					}
					else if(index==5) {
					if(!$('#username').val()) {
						alert('{{ lang.l_username_ph }}');
						$('#username').focus();
						return false;
					}
					if(!$('#pass').val()) {
						alert('{{ lang.l_password_ph }}');
						$('#pass').focus();
						return false;
					}
					if(!$('#email').val()) {
						alert('{{ lang.l_email_ph }}');
						$('#email').focus();
						return false;
					}					
					}					
					}, onTabClick: function(tab, navigation, index) {
						return false;
					}, onTabShow: function(tab, navigation, index) {
						if (index==2) {
						    $('#result').empty();
							$('#loader').show();
							setTimeout(function(){
							$.ajax({
								url: '{{ host }}/{{ vars.ModuleUrlName }}/test/',
								type: 'post',
								dataType: "json",
								data: { "{{ csrf.nameKey }}": $( "input[name='{{ csrf.nameKey }}']" ).val(), "{{ csrf.valueKey }}": $( "input[name='{{ csrf.valueKey }}']" ).val(), "driver": dbtype, "dbhost": dbhost, "dbname": dbname, "dbuser": dbuser, "dbpass": dbpass, "dbencoding": dbenc, "charset": dbenc},
								success: function(response) {
									if (response.code == 0) {
										$('#loader').hide();
										$('#result').append('<center><i class="fa fa-check-circle-o fa-5x text-success"></i><br>{{ lang.l_check_db_ok }}</center>');
										test = true;
									}
									else {
										$('#loader').hide();
										$('#result').append('<center><i class="fa fa-times-circle-o fa-5x text-danger"></i><br>{{ lang.l_check_db_no }}&nbsp;&nbsp;' + response.message + '</center>');
										test = false;
									}
								},
								error: function(response){
									$('#loader').hide();
									$('#result').append('<center><i class="fa fa-times-circle-o fa-5x text-danger"></i><br>{{ lang.l_check_db_no }}&nbsp;&nbsp;' + response.responseJSON['message'] + '</center>');
									test = false;
								}	
							})
							},100);
						}
						var $total = navigation.find('li').length;
						var $current = index+1;
						var $percent = ($current/$total) * 100;
                        $('#bar .progress-bar').css({ width:$percent+'%' });

						// If it's the last tab then hide the last button and show the finish instead
						if($current >= $total) {
							$('#tabinstall').find('.pager .next').hide();
							$('#tabinstall').find('.pager .finish').show();
							$('#tabinstall').find('.pager .finish').removeClass('disabled');
						} else {
							$('#tabinstall').find('.pager .next').show();
							$('#tabinstall').find('.pager .finish').hide();
						}

					}});
				$("#install").click(function() {
					language = $('#lang option:selected').val();
					defaultlang = $('#langdefault option:selected').val();
					locale = $('#locale option:selected').val();
					template = $('#template option:selected').val();
					$.ajax({
						url: '{{ host }}/{{ vars.ModuleUrlName }}/install/',
						type: 'post',
						dataType: 'json',
						data: { "{{ csrf.nameKey }}": $( "input[name='{{ csrf.nameKey }}']" ).val(), "{{ csrf.valueKey }}": $( "input[name='{{ csrf.valueKey }}']" ).val(), "lang": language, "defaultlang": defaultlang, "locale": locale, "template": template, "driver": dbtype, "dbhost": dbhost, "dbname": dbname, "dbuser": dbuser, "dbpass": dbpass, "dbencoding": dbenc, "title": $("#title").val(), "prefix": $("#prefix").val(), "salt": $("#salt").val(), "maintenancekey": $("#maintenancekey").val(), "encoding": $("#encoding").val(), "cookadm": $("#adm_cookname").val(), "cookusr": $("#usr_cookname").val(), "cookexp": $("#cookie_expire").val(), "cookmaxexp": $("#cookie_max_expire").val(), "cookpath": $("#cookie_path").val(), "admin": $("#username").val(), "email": $("#email").val(), "password": $("#pass").val(), "facebook_app": $("#facebook_app").val(), "facebook_secret": $("#facebook_secret").val(), "google_key": $("#google_key").val(), "google_secret": $("#google_secret").val()},
						success: function(response) {
							if (response.code == 0) {
							$('#endresult').append('<center><i class="fa fa-check-circle-o fa-5x text-success"></i><br>{{ lang.l_install_ok }}</center>');
							setTimeout(function(){ location.href="{{ host }}/" } , 3000);
							}
							else {
							$('#result').append('<center><i class="fa fa-times-circle-o fa-5x text-danger"></i><br>{{ lang.l_install_ko }}&nbsp;&nbsp;' + response.message + '</center>');
							}
						},
						error: function(response){
							$('#result').append('<center><i class="fa fa-times-circle-o fa-5x text-danger"></i><br>{{ lang.l_install_ko }}&nbsp;&nbsp;' + response.responseJSON['message'] + '</center>');
						}
					});
				});		
		});	
	</script>
</body>
</html>