<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed:100,200,300,400" rel="stylesheet">
<link rel="stylesheet" href="{{ basepath }}/templates/css/500.css">
</head>
<body class="loading">
  <h1>500</h1>
{% if debug == true %}
  <h2><div><b>Codice: {{ code }}</div><div>Messaggio: {{ message }}</div><div>File: {{ file }}</div><div>Riga: {{ line }}</div><div>Trace: {{ trace }}</div></b></h2>
{% else %}
  <h2><b>Errore imprevisto, torna alla home.</b></h2>
{% endif %}  
  <div class="gears">
    <div class="gear one">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <div class="gear two">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <div class="gear three">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="{{ basepath }}/templates/js/500.js" type="text/javascript"></script>
</body>